In [1]:
%load_ext sql

from time import time
import configparser
import matplotlib.pyplot as plt
import pandas as pd
import sys
import os
sys.path.append('..')

In [2]:
config = configparser.ConfigParser()
config.read('../config/dwh.cfg')

KEY    = config.get('AWS', 'KEY')
SECRET = config.get('AWS', 'SECRET')

DWH_DB          = config.get("CLUSTER","DB_NAME")
DWH_DB_USER     = config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD = config.get("CLUSTER","DB_PASSWORD")
DWH_PORT        = config.get("CLUSTER","DB_PORT")

In [3]:
DWH_ENDPOINT = config.get("CLUSTER", "HOST")
DWH_ROLE_ARN = config.get("IAM_ROLE", "ARN")

# STEP 1: Connect to the Redshift Cluster

In [4]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dev-dar1en:Passw0rd@dar1en-dwh-cluster-dev.cvmculxv6ez2.us-west-2.redshift.amazonaws.com:5439/dar1en-redshift-dwh-db

'Connected: dev-dar1en@dar1en-redshift-dwh-db'

# STEP 2: Compare Query Performance

In [34]:
oneDim_SQL ="""
set enable_result_cache_for_session to off;
SET search_path TO dist;

select s.year, count(*) as ct
from song_table s, songplay_table sp
where s.song_id = sp.song_id
group by s.year
order by ct
limit 10
;
"""

In [35]:
%sql $oneDim_SQL

 * postgresql://dev-dar1en:***@dar1en-dwh-cluster-dev.cvmculxv6ez2.us-west-2.redshift.amazonaws.com:5439/dar1en-redshift-dwh-db
Done.
Done.
10 rows affected.

[(1995, 1),
 (1957, 1),
 (1973, 1),
 (1968, 1),
 (1981, 1),
 (1983, 1),
 (1978, 1),
 (1979, 1),
 (1974, 1),
 (1989, 2)]

In [ ]:
oneDimSameDist_SQL ="""
set enable_result_cache_for_session to off;
SET search_path TO {};

select lo_orderdate, sum(lo_extendedprice*lo_discount) as revenue  
from lineorder, part
where lo_partkey  = p_partkey
group by lo_orderdate
order by lo_orderdate
"""

In [6]:
twoDim_SQL="""
set enable_result_cache_for_session to off;
SET search_path TO {};

select sum(lo_revenue), d_year, p_brand1
from lineorder, dwdate, part, supplier
where lo_orderdate = d_datekey
and lo_partkey = p_partkey
and lo_suppkey = s_suppkey
and p_category = 'MFGR#12'
and s_region = 'AMERICA'
group by d_year, p_brand1
"""

drill_SQL = """
set enable_result_cache_for_session to off;
SET search_path TO {};

select c_city, s_city, d_year, sum(lo_revenue) as revenue 
from customer, lineorder, supplier, dwdate
where lo_custkey = c_custkey
and lo_suppkey = s_suppkey
and lo_orderdate = d_datekey
and (c_city='UNITED KI1' or
c_city='UNITED KI5')
and (s_city='UNITED KI1' or
s_city='UNITED KI5')
and d_yearmonth = 'Dec1997'
group by c_city, s_city, d_year
order by d_year asc, revenue desc;
"""


oneDimSameDist_SQL ="""
set enable_result_cache_for_session to off;
SET search_path TO {};

select lo_orderdate, sum(lo_extendedprice*lo_discount) as revenue  
from lineorder, part
where lo_partkey  = p_partkey
group by lo_orderdate
order by lo_orderdate
"""

In [ ]:
testQuery = [oneDim_SQL, twoDim_SQL, drill_SQL, oneDimSameDist_SQL]

In [ ]:
def compareQueryTimes(schema, testQuery):
    queryTimes  = [] 
    for i,query in testQuery:
        t0 = time()
        q  = query.format(schema)
        %sql $q
        queryTime = time()-t0
        queryTimes.append(queryTime)
    return pd.DataFrame({"query":["oneDim","twoDim", "drill", "oneDimSameDist"], "queryTime_"+schema:queryTimes}).set_index('query')

In [ ]:
noDistQueryTimes = compareQueryTimes("nodist")
distQueryTimes   = compareQueryTimes("dist")